.navbar-inverse{
	opacity: 0.8;
}

#log-block{
	width: 20%;
	height: 240px;
	position:absolute;
	left:5%;
	bottom:5%;
	z-index:100;
	opacity:0.9;
	display:none;
}

#log-block .panel-primary > .panel-heading{

	background-color:#000000;
	
}
#log-block .panel-primary > .panel-body{

	overflow:scroll;
	height:195px;

}

#log-block .panel-primary{
	border-color: #000000;
	width:100%;
	height:100%;	
}

#about-page{
	width: 80%;
	height: 80%;
	position:absolute;
	left:10%;
	top:15%;
	z-index:100;
	opacity:0.9;
	display:none;
}

#about-page .panel-primary>.panel-heading{
	background-color:#000000;	
}

#about-page .panel-primary > .panel-body{
	overflow-y:scroll;
}

#about-page .panel-primary{
	border-color: #000000;
	width:100%;
	height:100%;	
}

.close-button {
	float: right;
	width: 20px;
	height: 20px;
	cursor: pointer
}

#legenda{
	position: absolute;
	right: 40px;
	height: 20px;
	top: 70px;
	z-index:100;
}

.legenda-block{
	width: 1px;
	height: inherit;
	float:left;
}

#legenda-start {
	position: absolute;
	margin-left: 5px;
}

#legenda-end {
	position: absolute;
	margin-left: 80px;
	color: #fff;
}